/DrIbrahimClinic/DrIbrahimClinic/bin/*
/DrIbrahimClinic/DrIbrahimClinic/obj/*
/DrIbrahimClinic/.vs/DrIbrahimClinic/v16/.suo
/DrIbrahimClinic/packages/*
/DrIbrahimClinic/DrIbrahimClinic/bin/*
/DrIbrahimClinic/DrIbrahimClinic/obj/*
/DrIbrahimClinic/DrIbrahimClinic/bin/*
/DrIbrahimClinic/DrIbrahimClinic/obj/*
